# Eclipse
*.class
Branch-SDK-TestBed/.settings/org.eclipse.jdt.core.prefs
Branch-SDK/.settings/org.eclipse.jdt.core.prefs

# Android Studio
.idea
*.iml
local.properties
build/

# Gradle
.gradle/*
.metadata/*

*.gen
bin/
gen/

# Mac stuff
*.DS_Store

# Branch
Branch-SDK-TestBed/gradle/wrapper/gradle-wrapper.jar
Branch-SDK-TestBed/gradlew
Branch-SDK-TestBed/gradlew.bat

Branch-SDK-TestBed/gradle/wrapper/gradle-wrapper.properties

.direnv
.secrets
