<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.branch.branchandroiddemo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="io.branch.referral.BranchApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BranchSDKTestBed">
        <activity
            android:name=".activities.ShowQRCodeActivity"
            android:exported="true" />
        <activity
            android:name="io.branch.branchandroiddemo.activities.LogDataActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_fBcbpexoE7Nu1ONlzfl1BilgsFcsZT8T" /> <!-- For your test app, if you have one; Again, use your actual test Branch key -->
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_eBcfhlApy9PCXJUhtjOy2gghtxltZJ5Z" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" /> <!-- Set to true to use Branch_Test_Key -->
        <activity
            android:name="io.branch.branchandroiddemo.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="cq9pf.app.link" />
            </intent-filter>


            <!-- Branch URI Scheme -->
        </activity>
        <receiver
            android:name="io.branch.receivers.SharingBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="EXTRA_CHOSEN_COMPONENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>